name: Publish Helm chart

on:
  workflow_run:
    workflows: ["Set Version"]
    types: [completed]

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
          fetch-tags: true

      - name: Check for changes in charts or deploy folders
        id: check_changes
        run: |
          if git diff --name-only HEAD^ HEAD | grep -qE '^charts/|^deploy/'; then
            echo "Changes detected in charts or deploy folder"
          else
            exit 0
          fi

      - name: Detect version
        id: set-env
        run: echo "version=`echo $(git describe --tags --abbrev=0 --exact-match || echo 'v0.0.0')`" >> $GITHUB_OUTPUT

      - name: Version Helm Chart
        run: |
          export CHAT_VERSION=${{ steps.set-env.outputs.version }}
          if [[ $CHAT_VERSION == v* ]]; then
            export CHAT_VERSION=${CHAT_VERSION:1}
          fi
          find ./charts -name Chart.yaml -maxdepth 2 -exec sed -i "s/version: .*/version: ${CHAT_VERSION}/g" {} \;
          find ./charts -name Chart.yaml -maxdepth 2 -exec sed -i "s/appVersion: .*/appVersion: ${{ steps.set-env.outputs.version }}/g" {} \;

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: latest

      - name: Login to Helm Registry
        run: echo "${{ secrets.HELM_PASSWORD }}" | helm registry login ${{ secrets.HELM_REGISTRY }} --username ${{ secrets.HELM_USERNAME }} --password-stdin

      - name: Package and publish Helm chart
        run: |
          for dir in $(find ./charts -name Chart.yaml -maxdepth 2 -exec dirname {} \;); do
            (cd $dir && helm package . && helm push *.tgz oci://${{ secrets.HELM_REGISTRY }}/${{ github.repository }}/charts)
          done
