name: Lint (with golangci-lint)

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - "*"
    tags:
      - "*"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
          cache: false
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
